# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Zixiang Sun's Blog
subtitle: 'Sharing thoughts on technology, programming, and life'
description: 'Welcome to my personal blog where I share thoughts on technology, programming, and life experiences.'
keywords:
  - technology
  - programming
  - blog
  - development
  - CRAQ
  - distributed systems
author: Zixiang Sun
language: zh-CN
timezone: 'Asia/Shanghai'

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://hzsunzixiang.github.io
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: false
  trailing_html: false

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - 'craq/**'

# Writing
new_post_name: :year-:month-:day-:title.md
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: true
  tab_replace: '  '
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
  技术: technology
  架构设计: architecture
  博客: blog
tag_map:

# Metadata elements
meta_generator: true

# Date / Time format
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: 'mtime'

# Pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: https://github.com/hzsunzixiang/hzsunzixiang.github.io.git
  branch: gh-pages

# Social Links
social:
  GitHub: https://github.com/hzsunzixiang
  Email: mailto:17842379@qq.com

# Menu
menu:
  首页: /
  归档: /archives/
  CRAQ: /craq/
  关于: /about/
  标签: /tags/
  分类: /categories/

# 本地搜索配置
search:
  path: search.xml
  field: post
  content: true
  format: html
